	<div class="col-md-9">
	<div id="{{ section.id }}" class="{{ section.classes }}">
                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">2016-03-14</h4>
                        <h4><a href="#">{{ section.title }}</a></h4>
                        {% block paragraph %}
                    <p>
                      section without child
                    </p>
                    {% endblock %}
                    </div>
		</div>
                </div>

            </div>
