{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ template.description }}">
    <meta name="author" content="{{ template.author }}">

    <title>{{ template.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="{% static "css/shop-item.css" %}" rel="stylesheet">

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <h1>{{ template.title }}</h1>
      </div>

      <div class="row">
      <div class="col-md-3">
        {% include 'website/course_sidebar.html' %}
      </div>
      <div class="col-md-9">
        {%for section in sections %}
          {% include 'website/course_section.html' %}
        {% endfor %}
      </div>
      </div>

    </div>

    <!-- /.container -->

    <div class="container">

      <hr>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; {{ template.title }} {% now "Y" %}</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>

  </body>

</html>
