{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Site</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div id="wrapper">

      {% include 'accounts/sidebar.html' %}

      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                Create Site 
              </h1>
            </div>
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <form class="form-horizontal" method="POST">
                {% csrf_token %}

                <h3><b>Enter a sub-domain</b></h2>
                <div id="domainDiv" class="form-group has-feedback">
                  <label class="control-label">http://52.71.144.214/website/</label>
                  <input id="domain" name="domain" type="text" class="form-control" maxlength="50">
                  <i id="domainIcon" class="glyphicon form-control-feedback"></i>
                </div>
                <div id="domainExists" {% if not errorDomainExists %}hidden{% endif %} class="alert alert-md alert-danger" role="alert">
                  Domain: {{ domain }} already Exists. Please try another
                </div>
                <div id="domain_missing" hidden class="alert alert-md alert-danger" role="alert">
                  Please Enter a domain
                </div>

                <br/><br/>
                <h3><b>The Basics</b></h3>
                <div class="form-group">
                  <label class="control-label">Enter title</label>
                  <input id="title" name="title" type="text" class="form-control" maxlength="50"/>
                  <div id="title_missing" hidden class="alert alert-md alert-danger" role="alert">
                    Please Enter a title for the page 
                  </div>
                  <br/>

                  <label class="control-label">Author</label><br/>
                  <input id="author" name="author" type="text" class="form-control" maxlength="50"/>
                  <br/>

                  <label class="control-panel">Description</label><br/>
                  <textarea id="description" name="description" class="form-control" rows="2" maxlength="150"></textarea>
                </div>

                {% if resumeTemplate %}
                  {% include 'website/createResume.html' %}
                {% endif %}

                {% if courseTemplate %}
                  {% include 'website/createCourseWebpage.html' %}
                {% endif %}


                <div class="form-group">
                  <button id="submit" name="submit" type="button" class="btn btn-info btn-md">Publish</button>
                </div>

                <input name="user_id" value="{{ request.user.id }}" class="hidden">
              </form>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>

    <!-- custom javascript -->
    <script src="{% static "js/createSite.js" %}"></script>
    {% if resumeTemplate %}
      <script src="{% static "js/createResume.js" %}"></script>
    {% endif %}

  </body>

</html>
