
  {% if section.introduction.education %}
    <div class="row">
        <div class="col-lg-3">
            <h1><b>Education</b></h1>
        </div>
        <div class="col-lg-9"> </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-6">
            <h3> {{ section.introduction.education }} </h3>
        </div>
  {% endif %}
        <div class="col-lg-6">
  {% if section.introduction.getMajors %}
    {% for major in section.introduction.getMajors %}
        <h3> Major in {{ major }} </h3>
    {% endfor %}
  {% endif %}
  {% if section.introduction.gpa %}
        <h3>GPA: {{ section.introduction.gpa }}</h3>
  {% endif %}
  {% if section.introduction.getLanguages %}
        <h3>Languages</h3>
        <div class="col-lg-4"> </div>
        <div class="col-lg-4">
            <ul style="text-align: center; margin-left: -25px;">
            {% for language in section.introduction.getLanguages %}
                <li> {{ language }} </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4"> </div>
    </div>

  {% endif %}

