<!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">

                </div>

		<div class="col-lg-4">
			<img src="../../static/images/sample_picture.jpg">
                </div>

		<div class="col-lg-1">

                </div>

                <div class="col-lg-6">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
                    <h1>Saturn Webpage Generator</h1>
                    <h3>Trying to be professional</h3>
                </div>
            </div>

	    <div class="row">
		<div class="col-lg-12"> 
		<br />
		<br />
		<br />
			<a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
		</div>
	    </div>
                </div>
            </div>
        </div>
    </section>
