{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css"%}" rel="stylesheet">

 

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


   <!--scrolling nav bar -->
    <!-- About Section -->
        {% include 'website/scrollingNavBar.html' %}

    

    <!-- Contact Section
    <section id="template" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Blank Template</h1>
                </div>
            </div>
        </div>
    </section> -->
{% include 'website/post.html' %}

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>

</body>

</html>
