{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ template.description }}">
    <meta name="author" content="{{ template.author }}">

    <title>{{ template.title }}</title>


    {% if not download %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/scrolling-nav.css"%}" rel="stylesheet">
    {% else %}
    <!-- Bootstrap Core CSS -->
    <link href="http://52.71.144.214/static/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="http://52.71.144.214/static/css/style.css" rel="stylesheet">
    <link href="http://52.71.144.214/static/css/scrolling-nav.css" rel="stylesheet">
    {% endif %}





 

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


   <!--scrolling nav bar -->
   {% include 'website/scrollingNavBar.html' %}

   {% for section in sections %}
        {% include 'website/section.html' %}
   {% endfor %}

    {% if not download %}
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>
    {% else %}
    <script src="http://52.71.144.214/static/js/jquery.js"></script>
    <script src="http://52.71.144.214/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="http://52.71.144.214/static/js/jquery.easing.min.js"></script>
    <script src="http://52.71.144.214/static/js/scrolling-nav.js"></script>
    {% endif %}

</body>

</html>
