{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Files</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/fileinput.css" %}" rel="stylesheet">
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static "js/fileinput.js"%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        {% include 'accounts/sidebar.html' %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            My Files
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				<div class="col-lg-12">
                        <div id="uploads" class="list-group">
                            {% if not files %} 
                            <div id="no-file" class="alert alert-danger alert-dismissible" role="alert">You don't currently have any file. <a href="../upload/" class="alert-link" id="resend-email">Click here</a> to upload.</div>
                            {% else %}
                            <div id="file-notify" class="alert alert-success alert-dismissible" role="alert">Please be aware that you can see all your files here, but only the public ones would be showed on your website.</div>
                            <a href="#" class="list-group-item active">
                                <h2 class="list-group-item-heading">Files</h2>
                                <p class="list-group-item-text">Here's all the files you've uploaded</p>
                            </a>
                            {% for file in files %}
                            <div id="{{ file.id }}" style="height:100%" class="box list-group-item dropdown">
                                <div class="lead">
                                <h4 class="list-group-item-heading"><a target="_blank" href="/{{ file.content.name }}">{{ file.get_filename }}</a>
                                <div class="dropdown pull-right">
                                    {% if file.is_public %}
                                    <button class="btn btn-success dropdown-toggle" type="button" id="status{{ file.id }}" data-toggle="dropdown">Public<span class="caret"></span></button>
                                    {% elif file.is_private %}
                                    <button class="btn btn-danger dropdown-toggle" type="button" id="status{{ file.id }}" data-toggle="dropdown">Private<span class="caret"></span></button>
                                    {% endif %}
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-id="{{ file.id }}" data-action="1" class="status">Set Public</a></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-id="{{ file.id }}" data-action="2" class="status">Set Private</a></li>
                                      <li role="presentation" class="divider"></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" data-id="{{ file.id }}" class="delete">Delete</a></li>
                                    </ul>
                                  </div>
                                </h4>
                                {% if file.preview %}
                                <p class="list-group-item-text"><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;" src="/{{ file.content.name}}" data-holder-rendered="true"></p>
                                {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>


            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script language="javascript">
        $("#files").addClass("active");
        function flipStatus(data) {
            console.log(data);
            if (data['status'] == 1) {
                $("#status" + data['file_id']).addClass("btn-success").removeClass("btn-danger");
                $("#status" + data['file_id']).html("Public");
            } else if (data['status'] == 2){
                $("#status" + data['file_id']).removeClass("btn-success").addClass("btn-danger");
                $("#status" + data['file_id']).html("Private");
            }
        }

        $(".status").click(function() {
            $.ajax({
                url: "/accounts/files/" + $(this).data("id") + "/status/",
                type: "POST",
                async: true,
                dataType: 'json',
                data: {
                  'action'             : $(this).data("action"),
                  'csrfmiddlewaretoken': $.cookie('csrftoken')
                },
                success: function (data) {
                    console.log(data);
                    flipStatus(data);
                },
                error: function(data) {
                    console.log(data);
                },
            });
        })

        $(".delete").click(function() {
            $.ajax({
                url: "/accounts/files/" + $(this).data("id") + "/delete/",
                type: "POST",
                async: true,
                dataType: 'json',
                data: {
                  'csrfmiddlewaretoken': $.cookie('csrftoken')
                },
                success: function (data) {
                    console.log(data);
                    $("#" + data["file_id"]).remove();
                },
                error: function(data) {
                  console.log(data);
                },
            });
        });
    </script>

</body>

</html>
