{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/reset_password.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>Login</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <!--Displayed when navigation bar is sized down-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll font-title" href="/">Saturn Site Generator</a>
        </div>

        <!--Displayed when Window is decently sized -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right text-center">
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </div> <!-- end of nav bar collapse -->

      </div> <!-- end of container fluid -->

    </nav>      

	<div class="container header text-center" style="margin-bottom: 25px;">
        <h1>Login</h1>
	</div>

	<div class="password_form">
    <form class="form-group" method="POST">
      {% csrf_token %}
            {% if login_err %}
            <div id="login-fail" class="alert alert-danger alert-dismissible" role="alert">Username and password pair not match.</div>
            {% endif %}
              <label class="control-label">Username</label>
              <input id="id_username" name="username" type="text" placeholder="Username or Email" class="form-control">

              <label class="control-label">Password</label>
              <input id="id_password" name="password" type="password" placeholder="Password" class="form-control">
            
             <div class="checkbox">
             <label>
               <a class="pull-left" href="/accounts/reset_password/">Forgot Password?</a>
             </label>
             </div>
            <button type="submit" class="btn btn-info btn-block">Sign Up</button>
    </form>



    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
  </body>

</html>
