{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/reset_password.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<title>Reset Password</title>
</head>

<body>
      <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        
        <!--Displayed when navigation bar is sized down-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll font-title" href="/">Saturn Site Generator</a>
        </div>
        
        <!--Displayed when Window is decently sized -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav navbar-right text-center">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/accounts/signin">Log In</a>
              </li>
              <li><a href="/accounts/signup">Sign Up</a>
            </li>
          </ul>
        </div> <!-- end of nav bar collapse -->
        
      </div> <!-- end of container fluid -->
      
    </nav>      

	<div class="container header" style="margin-bottom: 25px;">
        <h1>Reset Password</h1>
	</div>

	<div class="password_form">
		<form class="form-group">
			<div class="form-group">
        		<label for="InputEmail">Email address</label>
        		<input type="email" class="form-control" id="InputEmail" placeholder="Email">
      		</div>
    	</form>
    	<form class="form-inline">
      		<button type="submit" class="btn btn-default">Send the e-mail</button>

            {% if enterconfirmation %}
      		<div class="form-group">
        		<label for="confirmation_code">Confirmation code</label>
        		<input type="text" class="form-control" id="confirmation_code" placeholder="Type the code here">
      		</div>
            {% endif %}

    	</form>

        {% if enterpassword %}
		<form>
			<div class="form-group" style="margin-top: 15px;">
    	    	<label for="Password_box">Password</label>
     		   	<input type="password" class="form-control" id="Password_box" placeholder="Password">
     	 	</div>
     	 	<div class="form-group">
      		  	<label for="Password_confirm_box">Retype Password</label>
      		  	<input type="password" class="form-control" id="Password_confirm_box" placeholder="Password">
      		</div>
      		<button type="submit" class="btn btn-default">Reset Password</button>
		</form>
        {% endif %}
	</div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
</body>

</html>
