{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <!--bootstrap style-->
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}">

    <!--custom css  always import after bootstrap style-->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/homeStyle.css" %}">

    <title>Site Generator</title>


  </head>

  <body id="top">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
        <!--Displayed when navigation bar is sized down-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll font-title" href="#top">Saturn Site Generator</a>
        </div>
        
        <!--Displayed when Window is decently sized -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav navbar-right text-center">
            {% if not request.user.is_authenticated %}
            <li>
              <a href="/accounts/signin">Log In</a>
              </li>
            <li><a href="/accounts/signup/">Sign Up</a>
            </li>
            {% else %}
            <li><a href="/accounts/profile/">Profile</a>
            </li>
            {% endif %}
          </ul>
        </div> <!-- end of nav bar collapse -->
        
      </div> <!-- end of container fluid -->
      
    </nav>

    
    <br><br> <!--adds spacing after nav bar-->

    <!--Giant Picture section-->
    <div class="container-fluid">

      
      <div class="row"> <!--start of row-->
        <header>
          <div class="header-content">
            <div class="header-content-inner">
              <div>
                <h1 class="font-title font-lg">Build a Professional Website in Just Minutes</h1>
              </div>
            </div>
          </div>
            
          <!--puts next section of overlayed text lower -->
          <div class="overlay2">
            <h3 class="font-cornerstone">Build a professional website with no coding skills required</h3>
            <a href="#about" class="btn btn-primary btn-lg section2 page-scroll positive-top">Learn More</a>
          </div>

        </header>
      </div> <!--end of first row-->


    </div> <!--end of container-->

    <!--Blue section-->
    <section id="about" class="section2 bg-primary negative-top">
      <div class="container">
        <div class="row">
          <br><br><br>
          <div class="text-center">
            <h2 class="font-cornerstone">Everything You need!</h2>
            <hr class="light">
            <p class="text-faded font-standard">Start building your course webpage or online portfolio with our intuitive website builder. Our pre-built templates give you the ability to just choose what you want your site to look like and focus on what is really important, the content. Already have a hosting service? Don't worry you can still use our site building tools and download all the necessary web files so that you can transfer your site to a new host.</p>
            <br>
            <a href="/accounts/signup" class="btn btn-primary btn-lg page-scroll section3">Get Started</a>
          </div>
          <br><br><br>
        </div>
      </div>
    </section>

    <!--start of services section-->
    <section class="bg-primary negative-top section3">
        
      <div class="container">
        <div class="row">
          <br><br><br>
          <h2 class="text-center font-cornerstone">Services</h2>
          <hr class="light">
        </div>
      </div>
        
      <!--contains subsections-->
      <div class="container">
          
        <div class="row">
            
            <!--each square subsection can be pushed onto the next line for smaller screens-->
           <div class="col-lg-3 col-md-6 col-xs-12 text-center">
            <div class="box">
              <h3 class="font-cornerstone">Templates</h3>
              <span class="glyphicon glyphicon-file" aria-hidden=false></span>
              <p class="font-standard">Our Templates are designed to save you time and make your sites absolutely stunning.</p>
            </div>
          </div>
            
          <div class="col-lg-3 col-md-6 col-xs-12 text-center">
            <div class="box">
              <h3 class="font-cornerstone">Easy To Build</h3>
              <span class="glyphicon glyphicon-wrench" aria-hidden=false></span>
              <p class="font-standard">All you have to do to build your webpage is select a template and start filling in the information that you want.</p>
            </div>
          </div>
            
          <div class="col-lg-3 col-md-6 col-xs-12 text-center">
            <div class="box">
              <h3 class="font-cornerstone">Hosting</h3>
              <span class="glyphicon glyphicon-hdd" aria-hidden=false></span>
              <p class="font-standard">You can even publish your site immediately, So you can share your new content instantly.</p>
            </div>
          </div>
            
          <div class="col-lg-3 col-md-6 col-xs-12 text-center">
            <div class="box">
              <h3 class="font-cornerstone">Download</h3>
              <span class="glyphicon glyphicon-save" aria-hidden="false"></span>
              <p class="font-standard">We allow you to download the source code for all the required web files for your site. So you can always host somewhere else.</p>
            </div>
          </div>
            
        </div> <!--end of row-->
      </div>   <!--end of container-->
    </section>

    <br><br><br><br>
      
    <!--start of footer-->
    <Footer>
      <div class="container-fluid">
        <div class="row text-center">
          <p class="copyright text-muted">Copyright &copy; Saturn Site Generator 2016</p>
        </div>
      </div>
    </Footer>



    <!--local copy of JQuery-->
    <script src="{% static "js/jquery.js" %}"></script>
    <!--local copy of bootstrap javascript-->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
    
      
  </body>

</html>
